/* Please scroll down to the start of your exercise! */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px;
}

/* Your exercise starts here. */

/* Add your CSS styles below this line. Feel free to replace the comments with your code. 
Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
  border: dotted 3px;
}

.button2 {
  color:white;
  background: linear-gradient(90deg, #12c2e9, #c471ed, #f64f59); 
}

.button3 {
  font-size: medium;
  font: 500;
  font-family: fantasy;
}

.button4 {
  box-shadow: 0 6px 6px 0 palevioletred;
}

/* Feel free to play around with other properties, too. */
