*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color: #f1f4f7;
  padding: 0 48px;
  color: #021414;
}

main,
aside {
  max-width: 800px;
  margin: 24px auto;
  padding: 16px 32px;
  border: 2px dotted lightslategray;
  border-radius: 4px;
  position: relative;
}

ul {
  width: max-content;
}

ul .user .bio {
  display: none;
}

ul .user .location {
  text-align: left;
  color: darkslategray;
}

li {
  margin: 8px 0;
}

.user {
  position: relative;
  border: 2px solid lightslategray;
  border-radius: 8px;
  box-shadow: 4px 4px 0 lightslategray;
  padding: 20px;
  max-width: 400px;
  margin: 0;
  background-color: white;
}

aside .user {
  min-width: 250px;
  padding: 12px;
  border-radius: 4px;
}

aside .user .name {
  font-size: 16px;
}

aside .user .bio {
  font-size: 12px;
  margin: 6px 0;
}

aside .user .location {
  font-size: 10px;
}

.name {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
}

.bio {
  font-size: 12px;
  color: darkslategray;
  margin: 6px 0;
}

.location {
  font-size: 10px;
  font-weight: 600;
  text-align: end;
  margin: 0;
}
