.button {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 10px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 15px;
  margin-left: 0;
  font-weight: 600;
  font-size: 16px;
}

.button:hover {
  background-color: var(--button-text);
  color: white;
}
