/* -------------------------------------------------------- */
/* Global Styles */
/* -------------------------------------------------------- */

*::before,
*::after {
  box-sizing: border-box;
}

body, button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--body-bg);
}